@font-face {
  font-family: "LXGW WenKaiLite Larger";
  src: local("LXGW WenKaiLite Regular"), local("LXGW WenKaiLite-Regular"),
    local("LXGW WenKaiLite"), url("LXGWWenKaiLite-Regular.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  size-adjust: 123%;
}

@font-face {
  font-family: "LXGW WenKaiLite Larger";
  src: local("LXGW WenKaiLite Bold"), local("LXGW WenKaiLite-Bold"),
    url("LXGWWenKaiLite-Bold.ttf");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  size-adjust: 123%;
}

/* 中文字体不用斜体 */

@font-face {
  font-family: "LXGW WenKaiLite Larger";
  src: local("LXGW WenKaiLite"), url("LXGWWenKaiLite-Regular.ttf");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
  size-adjust: 123%;
}

@font-face {
  font-family: "LXGW WenKaiLite Larger";
  src: local("LXGW WenKaiLite Bold"), local("LXGW WenKaiLite-Bold"),
    url("LXGWWenKaiLite-Bold.ttf");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
  size-adjust: 123%;
}
